
[Desktop Entry]
Name=Vfeedback
Exec=/usr/lib/xscreensaver/vfeedback -root
TryExec=/usr/lib/xscreensaver/vfeedback
Comment=Simulates video feedback: pointing a video camera at an NTSC television. Written by Jamie Zawinski; 2018.
